.btn{
  font-size: 1.4rem;
  &-rounded{
    border-radius:50px;
    padding: 5px 20px;
  }
  &-red{
    background-color: $primary-color;
    color: $text-color;
  }
  &-trailer{
    background:transparent;
    border: none;
    color: $text-color;
  }
  &-edit{
    &:hover{
      color: $green!important
    }
  }
  &-remove{
    &:hover{
      color: $red-2
    }
  }
  &-gradient{
    &__primary{
    color:#fff;
    @include gradientBg(#9046dd,  $primary-color);
    border:none;
    }
  }
  &__primary{
    color: #fff;
    background: $primary-color;
  }
}
