%overlay{
  position: absolute;
  top:0;
  height:100vh;
  width:100%;
  z-index: -1;
}
 .overlay{
//  @extend %overlay;
  &-image{
    @extend %overlay;
    opacity: 0.8;
    height: calc(100vh - 20px);
    filter: blur(10px);


  }
  &-gradient{
    @extend %overlay;
    background-image: linear-gradient(to top, $background-color 10%, rgba(255, 255, 255, 0.22) 100%)
  }

  // style="position: absolute;top:0;opacity: 0.4;width:100%; height:100vh;z-index:-1;filter: blur(5px)"
}
