.heading{
  font-weight: 600;
  margin: 2rem 1rem;
  padding: 3rem 0px;
  border-bottom: 1px solid $border-color;
  color: $text-color;
  span{
    position: relative;
    &:after{
      @include pseudo();
      background: $primary-color;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      left: 50%;
      bottom: -10px
      }
  }

}
