:host /deep/ .movie__card{
  // width:215px;
  margin: 10px auto;
  background:transparent;
  margin: 0px 10px;
  color: $text-reverse;
  position: relative;
  &-img{
    width:100%;
    max-height:calc(100% - 80px);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }
  &-rate{
    color:$gold;
  }
  &-title{
    min-height: 3ex;
    margin-bottom:.75em;
  }
  &-body{
    min-height: 80px;
  }
  &:hover{
    .movie__card-overlay{
      opacity: 1;
      z-index: 1;
    }
    .movie__card-content{
      display: none;
    }
    .btn-booking{
      display: block;
    }
  }
  &-overlay{
    top:0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: rgba($background-color,0.3);
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-booking{
    display: none;
  }

}
