:host /deep/ .seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  &__screen {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    transition: transform 5s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include mq(tablet, min){
    transform:  rotateX(0deg);
    }
    overflow: hidden;
    margin-bottom: 5rem;
    margin-top: -11rem;
    box-shadow: 0 40px 55px -25px transparentize(#fff, 0.8);
    &.active {
      @include mq(tablet, min) {
        & {
          transform: translateY(30px) perspective(2000px) rotateX(-10deg);
        }
      }
    }
    iframe {
      width: 100%;
    }
  }
  &__wrapp {
    transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.active {
      @include mq(tablet, min) {
        & {
          transform: perspective(2000px) rotateX(45deg);
        }
      }
    }
    background: #242425;
    width: 100%;
    padding: 1rem
  }
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: center;
    &:before,
    &:after {
      position: absolute;
      top: 10px;
      width: 10px;
      color: #fff;
      opacity: 0.5;
    }
    &:before {
      left: -15px;
      text-align: right;
      counter-increment: RowLeft; // content: counter(RowLeft);
    }
    &:after {
      right: -15px;
      text-align: left;
      counter-increment: RowRight; // content: counter(RowRight);
    }
  }
  &__item {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    margin: .5rem 1rem !important;
    padding: 3px;
    background-color: #141417;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease;
    color: $text-color;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      transform: scale(1.2);
      .seats__item-num {
        opacity: 1;
      }
    }
    &_selected {
      background-color: $primary-color;
      transform: scale(1.2);
      z-index: 10;
      box-shadow: 0 3px 10px 0 transparentize($primary-color, 0.4);
      border: none;
      .seats__item-num {
        opacity: 1;
        color: $text-color
      }
    }
  }
  &__item-num {
    opacity: 1;
    transition: 0.1s ease;
  }
}
