.movie-slider{
  ::ng-deep .owl-nav {
    position: absolute;
    top: -90px;
    color:#db1623;
    right: 30px;
    .owl-prev, .owl-next{
      background: none;
      i{
        font-size: 3rem;
        font-weight: bold;
        &:hover{
          color:#db1623;
        }
      }

    }
    @media (max-width:768px) {
      &{
        top: 50%;
        right:0;
        transform: translateY(-50%);
        width: 100%;
        .owl-prev, .owl-next{
          position: absolute;
          border-radius: 50%;
          padding: 20px;
          background: rgba(0, 0, 0, 0.3);
          display: flex;
          i{
            font-size: 4rem;
          }
        }
        .owl-prev{
          left: 0;
        }
        .owl-next{
          right: 0;
        }
      }
    }
  }
}
