.movie {
  margin: 10rem 0px;
  &-poster {
    img {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .5);
      min-width: 215px;
      border-radius: 5px;
    }
  }
  .day {
    margin: 5px;
    color: $text-reverse;
    cursor: pointer;
    height: 44px;
    position: relative;
    width: 77px;
    border: 2px solid $text-reverse;
    border-radius: 5px;
    display: flex;
    padding: 5px;

    span {

      font-size: 10px;
      left: 4px;
      position: absolute;
      top: 4px;
    }
    em {

      font-size: 10px;
      font-style: normal;
      left: 4px;
      position: absolute;
      top: 20px;
    }
    strong {

      font-size: 30px;
      font-weight: normal;
      left: 31px;
      line-height: 17px;
      position: absolute;
      top: 8px;
    }
    &.active{
      color: $primary-color;
      border-color: $primary-color;

    }
  }
  &-showtimes {
    margin-top: 2rem;
    border-top: 1px solid $border-color;
    padding: 10px;
    color: $text-reverse;
    .showtime {
      margin-top: 10px;
      .item {
        text-align: center;
        padding: 5px 10px;
        float: left;
        margin-right: 3px;
        margin-top: 3px;
        border: 1px solid $text-reverse;
        a {
          color: $text-reverse;
          line-height: 1.8rem;
          &:hover {
            color: $border-color
          }
        }
      }
    }
  }
  &-tab {
    border: none;
    margin: 0px;
    background: transparent;
    color:$text-color;
    .card-body{
      min-height: 200px;
    }
    #booking-date {
      background: #fff;
      height: 100%;
      position: relative;
      border-radius: 5px;
      padding: 10px;
      overflow-y: auto;
    }
    .nav-link {
      font-size: 2rem;
      color: $text-reverse;
      margin-bottom: 1rem;
      &.active {
        color: $text-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
