:host /deep/ .profile{
  &-tab {
    border: none;
    margin: 0px;
    background: transparent;
    color:$text-color;
    .card-body{
      min-height: 200px;
    }
    .nav-link {
      font-size: 2rem;
      color: $text-reverse;
      margin-bottom: 1rem;
      &.active {
        color: $text-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
